/* NOTE: SEARCH */

.searchbar {
  margin: 1rem;
}

.search-field {
  width: 0;
  height: 40px;
  margin-left: 1rem;
  padding: 0;
  border-radius: 50px;
  border: none;
  transition: all 0.5s ease;
}

.expand-search {
  width: 80%;
  max-width: calc(80% - 3rem);
  border: 1px solid	#346986;
  padding: .5rem;
}

svg {
  width: 20px;
  height: 20px;
}

.button {
  font-weight: bold;
  background-color: #346986;
}

/* NOTE: HERO */

.hero-full-screen {
  height: auto;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #black;
  font-weight: lighter;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #black;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #black;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #black;
  font-weight: bold;
}

h1 {
  color: white;
  font-family: mono45-headline,monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
}

.wrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-image: url(../planet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.button:hover {
  background-color: white;
  color: #346986;
}
